Django==1.8.2
MySQL-python==1.2.5
Scrapy==0.24.6
Twisted==15.2.1
argparse==1.2.1
cffi==1.0.3
characteristic==14.3.0
cryptography==0.9
cssselect==0.9.1
django-activeurl==0.1.8
django-appconf==1.0.1
django-classy-tags==0.6.1
enum34==1.0.4
idna==2.0
ipaddress==1.0.7
lxml==3.4.4
mysql==0.0.1
pyOpenSSL==0.15.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.13
pytz==2015.4
queuelib==1.2.2
service-identity==14.0.0
six==1.9.0
w3lib==1.11.0
wsgiref==0.1.2
zope.interface==4.1.2
